@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins), sans-serif;
}

body {
  font-family: var(--font-poppins);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #ff7b00ee; 
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef5304; 
}
